<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Main / Dynamic Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor = "let phrase of phrases" size-sm="6" size-md="4" size-lg="4" size-xl="3">
        <ion-card>
          <ion-card-header> {{phrase.word}} </ion-card-header>
          <ion-card-content> {{phrase.image}} </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
