<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedIn()" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let collection of collections" size-sm="6" size-md="4" size-lg="4" size-xl="3">
        <ion-card (click)="speakWord(collection.name)">
          <ion-card-header> {{collection.name}} </ion-card-header>
          <ion-img [src]="'data:image/jpeg;base64, ' + collection.image"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;" col-4 no-padding>
          <ion-button [routerLink]="['/addcollection']" color="primary">Add New Collection</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>


<ion-content *ngIf="!loggedIn()" [fullscreen]="true">
  <app-explore-container text="No collections yet!" subtext="Please sign in first!"></app-explore-container>
</ion-content>