<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Collection Page
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goHome()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <form #newCollectionForm="ngForm" (ngSubmit)="saveCollection(newCollectionForm)">
      <ion-item>
        <ion-label position="floating">Enter a word or phrase:</ion-label>
        <ion-input name="phrase" [(ngModel)]="phr" #phrase="ngModel" minlength="1" maxlength="45" type="text" required pattern="^[a-zA-Z\ \d\'\.\-\!\?]+$"></ion-input>
      </ion-item>
      <div [hidden]="phrase.untouched || phrase.valid " class="errorMessage alert alert-danger">
        Phrases can only contain alphanumerics, spaces, dashes, apostrophes, periods, exclamation points, and question marks 
      </div>
      
      <ion-button expand="block" color="light">
        <ion-icon lazy="true" slot="start" name="image"></ion-icon>
        <input type="file" (change)="loadImageFromDevice($event)" id="file-input" accept="image/png, image/jpeg"
          required>
      </ion-button>
      <ion-button color="primary" type="submit" [disabled]="!newCollectionForm.form.valid" expand="block">
        Save
      </ion-button>
    </form>
  </ion-list>
</ion-content>